# Uneccessary files
.DS_Store
*~
*.swp

# No binaries
*.bin

# Vagrant
.vagrant
 
# Do not want to check in depot_tools or webrtc source code
android/depot_tools/
android/webrtc/
ios/depot_tools/
ios/webrtc/
ubuntu-xenial-16.04-cloudimg-console.log
